# SwitchBot API 認証情報（必須）
SWITCHBOT_API_TOKEN=your_switchbot_token
SWITCHBOT_API_SECRET=your_switchbot_secret

# サーバー設定（任意）
SERVER_PORT=9171

# キャッシュ設定（任意）
CACHE_DIR=/tmp/switchbot
CACHE_EXPIRE_SECOND=600
DELAY_SECOND=1

# Docker 関連（任意）
DOCKER_USERNAME=docker_hub_username
DOCKER_TOKEN=docker_hub_token
