interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY_TOKEN_0000000000000000000000000000000000000000000000000000000000000000
      nonce:
      - ''
      sign:
      - DUMMY_SIGNATURE_0000000000000000000000000000000000000000=
      t:
      - '1700000000000'
    method: GET
    uri: https://api.switch-bot.com/v1.1/devices
  response:
    body:
      string: '{"statusCode":100,"body":{"deviceList":[{"deviceId":"DUMMY_DEVICE_01","deviceName":"デバイス名_01","deviceType":"Plug
        Mini (JP)","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_02","deviceName":"デバイス名_02","deviceType":"Floor
        Lamp","enableCloudService":true,"hubDeviceId":""},{"deviceId":"DUMMY_DEVICE_03","deviceName":"デバイス名_03","deviceType":"Color
        Bulb","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_08","deviceName":"デバイス名_08","deviceType":"MeterPro(CO2)","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_09","deviceName":"デバイス名_09","deviceType":"Hub
        Plus","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_11","deviceName":"デバイス名_11","deviceType":"Curtain","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01","curtainDevicesIds":["DUMMY_DEVICE_11"],"calibrate":true,"group":false,"master":true,"openDirection":"left"},{"deviceId":"DUMMY_DEVICE_12","deviceName":"デバイス名_12","deviceType":"Meter","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_13","deviceName":"デバイス名_13","deviceType":"Remote","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_14","deviceName":"デバイス名_14","deviceType":"Contact
        Sensor","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_17","deviceName":"デバイス名_17","deviceType":"Hub
        Mini","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_21","deviceName":"デバイス名_21","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_22","deviceName":"デバイス名_22","deviceType":"Motion
        Sensor","enableCloudService":true,"hubDeviceId":"DUMMY_HUB_01"},{"deviceId":"DUMMY_DEVICE_24","deviceName":"デバイス名_24","deviceType":"Ceiling
        Light","enableCloudService":true,"hubDeviceId":""},{"deviceId":"DUMMY_DEVICE_29","deviceName":"デバイス名_29","deviceType":"Indoor
        Cam","enableCloudService":true,"hubDeviceId":""}],"infraredRemoteList":[]},"message":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      switchbot-request-id:
      - 00000000-0000-0000-0000-000000000002
    status:
      code: 200
      message: OK
version: 1
