interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY_TOKEN_0000000000000000000000000000000000000000000000000000000000000000
      nonce:
      - ''
      sign:
      - DUMMY_SIGNATURE_0000000000000000000000000000000000000000=
      t:
      - '1700000000000'
    method: GET
    uri: https://api.switch-bot.com/v1.1/devices/DUMMY_DEVICE_01/status
  response:
    body:
      string: '{"statusCode":100,"body":{"version":"V3.3","temperature":13.3,"battery":100,"humidity":61,"deviceId":"DUMMY_DEVICE_01","deviceType":"Meter","hubDeviceId":"DUMMY_HUB_01"},"message":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      switchbot-request-id:
      - 00000000-0000-0000-0000-000000000001
    status:
      code: 200
      message: OK
version: 1
